<h1>/course </h1>
<h1>/two-way two - way binding</h1>
<h1>/Contact Gestion des forms</h1>
<h1>/Reactive </h1>
<h1>/api Pour les APIs et services et api/id vous trouvez a bas comment avoir l'id param from link    queryParams</h1>
<h1>/Decrt PourLes directives ngif ngtrackby</h1>
<h1>/course </h1>



<br><br>
<p>{{body | resume}}</p>

<br>
//              input              and       output
<br>
<app-ex [is-fav] ="post.isFavorite" (change)="maFonction($event)"></app-ex>
<br><br><br><br>



panel : ng-content :

<br><br>

<app-panel>
  <div class="header">header</div>
  <div class="body">
    <h1>lorem epsum</h1>
    <p>hello lorem cv</p>
  </div>
</app-panel>

// propre directive
<input type="text"  appInputFormat [format] = "''" >

<br><br>

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <app-sign-up-form></app-sign-up-form>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<app-navbar></app-navbar>
<router-outlet></router-outlet>







